[submodule "godot-cpp"]
	path = godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
	branch = master
	shallow = true
[submodule "thirdparty/vulkan-headers"]
	path = thirdparty/vulkan-headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
	shallow = true
